body {
  background-color: #FAFAFA;
}


a {
  font-family: sans-serif; 
}

/* TOP NAV */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #394D6B;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5B7BAB;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #7CA8EB;
  color: white;
}

/* MAIN IMG */

#banner {
  background-image:
    linear-gradient(to top, rgb(0 0 0 / 0%), rgb(0 0 0 / 50%)),
    url('https://media.npr.org/assets/img/2023/06/08/02_nova-kakhovka-dam-and-hydroelectric-plant-after-collapse_07jun2023_wv03-web-res_slide-4e296f93727d8f71f92a10e2c725679273640f3f.jpg');
    width: 100%;
    height: inherit; 
    background-size: cover;
    color: white;
    padding: 20px;
}
