h1 {
color: white;
}

.header h1 {
  padding-top: 10px; 
  padding-right: 10px;
  margin: 0;
  background-color: black; 
}

nav a {
  float: right;
  color: white; 
  padding: 10px 10px 10px 10px; 
}

.main-img {
  text-align: center; 
  background-color: #000000;
  padding-bottom: 20px; 
}

.main-img img {
  width: 90%;
}

.caption {
  text-align: center; 
  font-family: serif; 
  font-size: 10px; 
}

.footer {
  text-align: center;
}






  
  
  
