p, li, a {
  font-family: sans-serif;
}

.header {
  color: #FFFFFF;
  background-color: #000000;
  overflow: hidden; 
  padding: 2% 0 2% 0;
  list-style-type: none;
}

.header-left {
  float: left; 
  font-family: monospace; 
}

.header-right {
  float: right; 
}




.main-image {
  text-align: center; 
}

.main-image img {
  height: 90%; 
  width: 90%;
}

.image-caption {
  padding-top: 5px; 
  text-align: center; 
}




  
